.col-tam{
    height: 300px;
  }

/*------------------- CATEGORIAS -----------------*/

.categorias {
  background-color: #dfb583;
  /* flex: auto; */
  max-height: auto;
  min-height: auto;
}

/* .categorias img {
  max-height: 300px;
  width: auto;
} */

.img-contenedor img {
    -webkit-transition:all .6s ease;
    -moz-transition:all .6s ease;
    -o-transition:all .6s ease;
    -ms-transition:all .6s ease;
    width:100%;
  }
  .img-contenedor:hover img {
    -webkit-transform:scale(1.03);
    -moz-transform:scale(1.03);
    -ms-transform:scale(1.03);
    -o-transform:scale(1.03);
    transform:scale(1.03);
  }
  .img-contenedor {/*Ancho y altura son modificables al requerimiento de cada uno*/
    overflow:hidden;
  }

.contenedor-texto-1{
  position: absolute;
  width: 30%;
  margin-top: 4%;
  margin-left: 3%;
  z-index: 700;
}
.texto-1{
  font-family: 'Playfair Display', serif;
  font-size: 250%;
}

.contenedor-texto-2{
  position: absolute;
  width: 17%;
  margin-top: 4%;
  margin-left: 8%;
  z-index: 700;
  text-align: right;
}
.texto-2{
  font-family: 'Playfair Display', serif;
  font-size: 250%;
}

.contenedor-texto-3{
  position: absolute;
  width: 17%;
  margin-top: 4%;
  margin-left: 1%;
  z-index: 700;
}
.texto-3{
  font-family: 'Playfair Display', serif;
  font-size: 250%;
}

@media screen and (max-width: 1145px){
	.texto-3, .texto-2{
    font-size: 200%;
  }
}
@media screen and (max-width: 920px){
	.texto-3, .texto-2{
    font-size: 150%;
  }
}
@media screen and (max-width: 769px){
  .contenedor-texto-1{
    width: 40%;
  }
  .texto-1{
    font-size: 300%;
  }
  .contenedor-texto-3{
    width: 50%;
    margin-top: 7%;
    margin-left: 4%;
  }
  .contenedor-texto-2{
    width: 50%;
    margin-top: 7%;
    margin-left: 25%;
  }
  .texto-3, .texto-2{
    font-size: 350%;
  }
}
@media screen and (max-width: 640px){
	.texto-1{
    font-size: 250%;
  }
  .texto-3, .texto-2{
    font-size: 300%;
  }
}
@media screen and (max-width: 516px){
	.texto-1{
    font-size: 200%;
  }
  .texto-3, .texto-2{
    font-size: 250%;
  }
}