<div id="carouselExampleControls" class="carousel slide slider-altura animated fadeIn fast" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="../../../assets/img/slides/slide_1.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../../../assets/img/slides/slide_2.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../../../assets/img/slides/slide_3.jpg" alt="Third slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../../../assets/img/slides/slide_4.jpg" alt="Third slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../../../assets/img/slides/slide_5.jpg" alt="Third slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../../../assets/img/slides/slide_6.jpg" alt="Third slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../../../assets/img/slides/slide_7.jpg" alt="Third slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../../../assets/img/slides/slide_8.jpg" alt="Third slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../../../assets/img/slides/slide_9.jpg" alt="Third slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../../../assets/img/slides/slide_10.jpg" alt="Third slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../../../assets/img/slides/slide_11.jpg" alt="Third slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="../../../assets/img/slides/slide_12.jpg" alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Siguiente</span>
    </a>
</div>


<div class="contenido animated fadeIn fast">
    <div class="categorias">
        <div class="columns is-gapless is-multiline">
                <div class="column is-two-thirds img-contenedor"  routerLinkActive="active">
                    <a class="nav-item" [routerLink]="['../colecciones']">
                        <img src="assets/img/categorias/banner-collar.jpg" alt="Dije de Fuego">
                    </a>
                </div>
                <div class="column is-one-third img-contenedor"  routerLinkActive="active">
                    <a class="nav-item" [routerLink]="['..7colecciones']">
                    <img src="assets/img/categorias/banner-chico-1.jpg" alt="Dije de Fuego">
                    </a>
                </div>
                <div class="column is-one-third img-contenedor"  routerLinkActive="active">
                    <a class="nav-item" [routerLink]="['..7colecciones']">
                        <img src="assets/img/categorias/banner-chico-2.jpg" alt="Dije de Fuego">
                    </a>
                </div>
                <div class="column is-one-third img-contenedor"  routerLinkActive="active">
                    <a class="nav-item" [routerLink]="['..7colecciones']">
                        <img src="assets/img/categorias/banner-chico-3.jpg" alt="Dije de Fuego">
                    </a>
                </div>
                <div class="column is-one-third img-contenedor"  routerLinkActive="active">
                    <a class="nav-item" [routerLink]="['colecciones']">
                        <!-- <img src="assets/img/categorias/aretes.png" alt="Aretes Zarros" style="height: 200px;"> -->
                        <img src="assets/img/categorias/banner-chico-4.jpg" alt="Dije de Fuego">
                    </a>
                </div>
        </div>
    </div>
    <div class="espacio contenido-home-nuevo">
        <!-- <div stlye="font-size:50px;"> -->
        <h3 class="title is-3">Lo más destacado</h3>
        <!-- </div> -->
        <hr>
        <div class="card-columns">
            <app-producto-tarjeta class="hvr-grow-shadow" (productoSeleccionado)="verProducto( $event )" [producto]="producto" [index]="i" *ngFor="let producto of colecciones; let i = index"></app-producto-tarjeta>
        </div>
    </div>
</div>