.col-tam{
    height: 300px;
  }

/*------------------- CATEGORIAS -----------------*/

.categorias {
  min-height: 600px;
  background-color: #dfb583;
}

.categorias img {
  max-height: 300px;
  width: auto;
}


.fondo-1{
    background-image: url("src/assets/img/categorias/banner-collar.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

.img-contenedor img {
    -webkit-transition:all .9s ease;
    -moz-transition:all .9s ease;
    -o-transition:all .9s ease;
    -ms-transition:all .9s ease;
    width:100%;
  }
  .img-contenedor:hover img {
    -webkit-transform:scale(1.03);
    -moz-transform:scale(1.03);
    -ms-transform:scale(1.03);
    -o-transform:scale(1.03);
    transform:scale(1.03);
  }
  .img-contenedor {/*Ancho y altura son modificables al requerimiento de cada uno*/
    overflow:hidden;
  }