<div class="contenido espacio">
    <div class="row text-center">
        <div class="col">
                <img src="assets/img/nosotros.jpg" class="img-fluid" alt="Responsive image" style="width: 2000px;">
        </div>
        <div class="col">
            <h1 class="animated fadeIn fast">Sobre Comic App</h1>
            <hr>
            <p class="animated fadeIn fast">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci, placeat dolorum. Rerum corrupti ullam architecto ratione quae voluptatum aut odit, suscipit magni, ea fugiat quisquam perspiciatis culpa, assumenda unde consectetur.
            </p>
        </div>  
    </div>
</div>
