.pie-pagina {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
<<<<<<< HEAD
    /* background-color: red; */
    opacity: .8;
    box-shadow: 0px 7px 44px 0px rgba(150, 148, 150, 1);
=======
    /* background-color: black; */
    opacity: .8;
    box-shadow: 0px 7px 44px 0px rgba(150,148,150,1);
    background-image: linear-gradient(141deg,#140e03 0,#302303 71%,#251804 100%);
>>>>>>> e31f000ac66d90a1fc0118439246b82643dab2f0
}

.sub-menu-pie {
    width: 90%;
    margin: auto;
}

.logo-footer {
    width: 90%;
    max-width: 290px;
    min-width: 200px;
    transition: all .5s ease-in-out;
}