<div class="pie-pagina">
    <div class="sub-menu-pie">
        <div class="row text-center">
            <div class="col-4">
                <img src="assets/img/logo-proyecto1.png" alt="" class="logo-footer">
            </div>
            <div class="row text-center">
                <div class="col-md-auto" routerLinkActive="active">
                    <h6><a class="nav-link" [routerLink]="['home']">INICIO</a></h6>
                </div>
                <div class="col-md-auto" routerLinkActive="active">
                    <h6><a class="nav-link" [routerLink]="['heroes']">COLECCIONES</a></h6>
                </div>
                <div class="col-md-auto" routerLinkActive="active">
                    <h6><a class="nav-link" [routerLink]="['about']">NOSOTROS</a></h6>
                </div>
                <div class="col-md-auto" routerLinkActive="active">
                    <h6><a class="nav-link" [routerLink]="['about']">CONTACTO</a></h6>
                </div>
                <div class="w-100"></div>
                <div class="col-md-auto" routerLinkActive="active">
                    <h6><a class="nav-link" [routerLink]="['about']">CONTACTO</a></h6>
                </div>
            </div>
        </div>
    </div>
</div>
