<div class="hero pie-pagina is-dark is-bold">
    <div class="sub-menu-pie">
        <div class="columns text-center">
            <div class="column is-one-quarter">
                <img src="assets/img/logo-proyecto1.png" alt="" class="logo-footer">
            </div>
            <div class="columns text-center">
                <div class="column" routerLinkActive="active">
                    <h6><a class="nav-link" [routerLink]="['home']">INICIO</a></h6>
                </div>
                <div class="column" routerLinkActive="active">
                    <h6><a class="nav-link" [routerLink]="['heroes']">COLECCIONES</a></h6>
                </div>
                <div class="column" routerLinkActive="active">
                    <h6><a class="nav-link" [routerLink]="['about']">NOSOTROS</a></h6>
                </div>
                <div class="column" routerLinkActive="active">
                    <h6><a class="nav-link" [routerLink]="['about']">CONTACTO</a></h6>
                </div>
                <br>
                <div class="column" routerLinkActive="active">
                    <h6><a class="nav-link" [routerLink]="['about']">CONTACTO</a></h6>
                </div>
            </div>
        </div>
    </div>
</div>