.little-half-rule {
    margin-left: 0;
    text-align: center;
    /* background-color: rgb(119, 119, 119); */
    left: 15px;
    right: 15px;
    top: 0;
    border-top: 2px solid #ebecee;
    align-items: center;
    justify-content: center;
}

.pie-pagina {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    opacity: .8;
}

.sub-menu-pie {
    width: 90%;
    margin: auto;
}

.logo-footer {
    width: 90%;
    max-width: 290px;
    min-width: 200px;
    transition: all .5s ease-in-out;
}