<section class="hero">
    <div class="hero-body">
        <div class="">
            <div class="columns text-center">
                <div class="column" style="display: flex;justify-content: center;align-items: center;">
                    <div>
                        <p class="subtitle">Tel. (669)913 12 12</p>
                        <p class="subtitle" style="margin-bottom: 0px;font-size: 16px;font-style: italic;">Lunes a Sábado de 9:00 am a 6:00 pm</p>
                        <p class="subtitle" style="margin-top:0px; font-size: 16px;font-style: italic;">Domingo 9:00 am a 5:00 pm</p>

                    </div>
                </div>
                <div class="column" style="align-items: center;">
                    <img src="assets/img/logo-header.png" style="width:150%;" alt="logo-cielito-lindo" class="logo">
                </div>
                <div class="column" style="display: flex;justify-content: center;align-items: center;">
                    <a target="_blank" href="https://www.facebook.com/Joyeria-Cielito-Lindo-148179058557189/"><img src="assets/img/fb-logo.png" style="width:20px;margin-left: 5px;margin-right: 5px" alt="logo-cielito-lindo"></a>
                    <a target="_blank" href="https://www.instagram.com/joyeria.cielitolindo/?hl=es"><img src="assets/img/insta-logo.png" style="width:20px;margin-left: 5px;margin-right: 5px" alt="logo-cielito-lindo"></a>
                </div>
            </div>
        </div>
    </div>
</section>