<section class="hero">
    <div class="hero-body">
        <div class="">
            <!-- <h1 class="title">
                Primary bold title
            </h1>
            <h2 class="subtitle">
                Primary bold subtitle
            </h2> -->
            <div class="columns text-center">
                <div class="column" style="display: flex;justify-content: center;align-items: center;">
                    <p class="subtitle">(669)913 12 12</p>
                </div>
                <div class="column">
                    <img src="assets/img/logo-header.png" style="width:150%; align-items: center;" alt="logo-cielito-lindo" class="logo">
                </div>
                <div class="column">
                </div>
            </div>

        </div>
    </div>
</section>