<section class="hero">
    <div class="hero-body">
        <div class="">
            <!-- <h1 class="title">
                Primary bold title
            </h1>
            <h2 class="subtitle">
                Primary bold subtitle
            </h2> -->
            <div class="columns text-center">
                <div class="column" style="display: flex;justify-content: center;align-items: center;">
                    <p class="subtitle">(669)913 12 12</p>
                </div>
                <div class="column" style="align-items: center;">
                    <img src="assets/img/logo-header.png" style="width:150%;" alt="logo-cielito-lindo" class="logo">
                </div>
                <div class="column" style="display: flex;justify-content: center;align-items: center;">
                    <img src="assets/img/fb-logo.png" style="width:20px;margin-left: 5px;margin-right: 5px" alt="logo-cielito-lindo">

                    <img src="assets/img/insta-logo.png" style="width:20px;margin-left: 5px;margin-right: 5px" alt="logo-cielito-lindo">
                </div>
            </div>

        </div>
    </div>
</section>