<div class="contenido espacio">
    <div class="field">
        <label class="label">Nombre</label>
        <div class="control">
            <input class="input" id="txtNombre" type="text" placeholder="Ingrese su nombre">
        </div>
        <div class="invisible" id="nombreError">
            <p class="help is-danger">Este campo es requerido.</p>
        </div>
    </div>
    <div class="field">
        <label class="label">Correo</label>
        <div class="control">
            <input class="input" required id="txtCorreo" type="text" placeholder="Ingrese su correo">
        </div>
        <div class="invisible" id="correoError">
            <p class="help is-danger">Este campo es requerido.</p>
        </div>
    </div>
    <div class="field">
        <label class="label">Telefono (opcional)</label>
        <div class="control">
            <input class="input" id="txtTelefono" type="text" placeholder="Tngrese su telefono (opcional)">
        </div>
    </div>
    <div class="field">
        <label class="label">Mensaje</label>
        <div class="control">
            <textarea class="textarea" required id="txtMensaje" placeholder="Ingrese su mensaje"></textarea>
        </div>
        <div class="invisible" id="mensajeError">
            <p class="help is-danger">Este campo es requerido.</p>
        </div>
    </div>
    <div id="no">
        <div class="alert alert-danger visible" role="alert">
            A simple danger alert—check it out!
        </div>
    </div>
    <div id="si">
        <div class="alert alert-success visible" role="alert">
            A simple success alert—check it out!
        </div>
    </div>


    <div class="field is-grouped">
        <div class="control">
            <button (click)="validar()" class="button is-link is-warning">Guardar</button>
        </div>
        <div class="control">
            <button class="button is-text" [routerLink]="['inicio']">Cancelar</button>
        </div>
    </div>




</div>