<div class="contenido espacio animated fadeIn">
    <!-- <h3 class=" title is-3">{{ producto.nombre | uppercase }} <small><a [routerLink]="['/colecciones']" >{{producto.categoria}}</a></small></h3> -->
    <h6><small><a [routerLink]="['/colecciones']" >{{producto.categoria}} </a></small>/ {{ producto.nombre | uppercase }}</h6>
    <hr>
    <div class="contenido-producto">
    <div class="columns">
        <div class="column is-two-fifths">
            <img [src]="producto.img" class="img-fluid" [alt]="producto.nombre">
        </div>
        <div class="column" style="padding: 50px 50px;">
            <h4 class=" title is-4">
                {{producto.descripcion}}
            </h4>
            <table class="table is-hoverable">
                <tr>
                    <td style="justify-content: right;">Material:</td>
                    <td style="text-aling: left;">{{producto.material}}</td>
                </tr>
                <tr>
                    <td style="text-aling: right;">Pureza:</td>
                    <td style="text-aling: left;">{{producto.pureza}}</td>
                </tr>
                <tr>
                    <td style="text-aling:right;">Categoría:</td>
                    <td style="text-aling: left;">{{producto.categoria}}</td>
                </tr>
            </table>
        </div>
    </div>

        <!-- <div class="col-md-8">
            <h3>{{ producto.nombre }}</h3>
            <hr>
            <p>
                {{ producto.bio }}
            </p>
            <div>
                <img *ngIf="producto.casa == 'Marvel'" class="img-logo" src="assets/img/marvel-logo.png" alt="DC">
                <img *ngIf="producto.casa == 'DC'" class="img-logo" src="assets/img/dc-logo.jpg" alt="Marvel">
            </div>


        </div> -->
    </div>
</div>