<div class="card text-center animated fadeIn fast">
    <img class="card-img-top" [src]="producto.img" [alt]="producto.nombre">
    <div class="card-body">
        <h5 class="card-title">{{ producto.nombre}}</h5>
        <p class="card-text">{{ producto.bio }}</p>
        <p class="card-text"><small class="text-muted"> {{ producto.aparicion }}</small></p>

        <button (click)="verProducto(i)" type="button" class="btn btn-outline-primary btn-block">
        Ver más...
      </button>
        <!--<a [routerLink]="['/producto',i]" class="btn btn-outline-primary">Ver más link...</a>-->
    </div>
</div>