.card:hover h4{
    color: #c0963c;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.imagen{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 576px){
    .imagen{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 18%;
        transition: all .5s ease-in-out;
    }
}
@media screen and (max-width: 560px){
    .imagen{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 16%;
        transition: all .5s ease-in-out;
    }
}
@media screen and (max-width: 520px){
    .imagen{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 14%;
        transition: all .5s ease-in-out;
    }
}
@media screen and (max-width: 500px){
    .imagen{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 13%;
        transition: all .5s ease-in-out;
    }
}
@media screen and (max-width: 480px){
    .imagen{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10%;
        transition: all .5s ease-in-out;
    }
}
@media screen and (max-width: 460px){
    .imagen{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 8%;
        transition: all .5s ease-in-out;
    }
}
@media screen and (max-width: 430px){
    .imagen{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 7%;
        transition: all .5s ease-in-out;
    }
}
@media screen and (max-width: 420px){
    .imagen{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 6%;
        transition: all .5s ease-in-out;
    }
}