<!-- *ngFor="let producto of colecciones; let i = index -->
<div class="card text-center" style="padding-top: 0px;padding-bottom: 0px;" (click)="verProducto()" type="button">
    <!-- style="padding-left:0px;padding-rigth:0px;min-width: 240px;max-width: 356px;" -->
    <div class="card-body">
        <h4 class="card-title" style="font-weight: bold;font-size: 18px;">{{ producto.descripcion}}</h4>
        <p class="card-text" style="font-size: 16px;">{{ producto.material }}/{{producto.pureza}}</p>
        <!-- <p class="card-text"><small class="text-muted"> {{ producto.categoria }}</small></p> -->

        <!-- <button (click)="verProducto()" type="button" class="btn btn-outline-primary btn-block">
        Ver más...
      </button> -->

        <!--<a [routerLink]="['/producto',i]" class="btn btn-outline-primary">Ver más link...</a>-->
    </div>
    <img class="card-img-top" style="max-width: 280px;padding-bottom: 20px;" [src]="producto.img" [alt]="producto.nombre">
    <!-- style="padding-bottom: 50px; width:250px;" -->
</div>