<div class="contenido espacio animated fadeIn fast">
    <div class="columns">
        <div class="column" style="padding-bottom:0px; padding-top:0px;">
            <h3 class="title is-3" style="margin-top:20px;">Todas las colecciones</h3>
        </div>
        <div class="column" style="padding-bottom:0px; padding-top:0px;">
            <div class="cont-buscador" id="cont-buscador">
                <input class="input is-warning buscador" id="buscador" 
                style="margin-top: 24px;" type="text" placeholder="Buscar en el catalogo" 
                (keyup.enter)="buscarProducto(buscarTexto.value)" #buscarTexto>
                <a class="button is-warning" type="button" style="margin-top: 24px; margin-left: 6px" 
                (click)="buscarProducto(buscarTexto.value)">Buscar</a>
            </div>
        </div>
    </div>

    <hr style="margin-top:0px;">
    <div class="card-columns ">
        <app-producto-tarjeta class="crecer" (productoSeleccionado)="verProducto( $event )" 
        [producto]="producto" [index]="i" *ngFor="let producto of colecciones; let i = index"></app-producto-tarjeta>
    </div>
</div>