<div class="contenido espacio">
    <div class="columns">
        <div class="column" style="padding-bottom:0px; padding-top:0px;">
            <h3 class="title is-3" style="margin-top:20px;">Todas las colecciones</h3>
        </div>
        <div class="column" style="text-align: right; padding-bottom:0px; padding-top:0px;">
            <input class="input is-warning buscador" id="buscador" style="margin-top: 24px;" type="text" placeholder="Buscar en el catalogo">
        </div>
    </div>

    <hr style="margin-top:0px;">
    <div class="card-columns ">


        <app-producto-tarjeta class="hvr-grow-shadow" (productoSeleccionado)="verProducto( $event )" [producto]="producto" [index]="i" *ngFor="let producto of colecciones; let i = index"></app-producto-tarjeta>


    </div>
</div>