.buscador{
    max-width: 260px;
}

.cont-buscador{
    text-align: right;
}

@media screen and (max-width: 768px){
    .buscador{
        max-width: 70%;
    }
    .cont-buscador{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}