<div class="contenido espacio animated fadeIn fast">
    <div class="columns">
        <div class="column" style="padding-bottom:0px; padding-top:0px;">
            <div *ngIf="colecciones.length == 0; else templateName">
                <!-- <div class="col-md-12">
                    <div class="alert alert-info" role="alert">
                        No hay resultados de: {{ termino }}
                    </div>
                </div> -->
                <h3 class="title is-3" style="margin-top:20px;">No hay resultados de: <small>{{ termino }}</small></h3>
            </div>
            <ng-template #templateName>
                <div class="column" style="padding-bottom:0px; padding-top:0px;">
                    <h3 class="title is-3" style="margin-top:20px;">Buscando: <small>{{ termino }}</small></h3>
                </div>
            </ng-template>
        </div>
        <div class="column" style="padding-bottom:0px; padding-top:0px;">
            <div class="cont-buscador" id="cont-buscador">
                <input class="input is-warning buscador" id="buscador" 
                style="margin-top: 24px;" type="text" placeholder="Buscar en el catalogo" 
                (keyup.enter)="buscarProducto(buscarTexto.value)" #buscarTexto>
                <a class="button is-warning" type="button" style="margin-top: 24px; margin-left: 6px" 
                (click)="buscarProducto(buscarTexto.value)">Buscar</a>
            </div>
        </div>
    </div>      
    <hr>
    <div class="card-columns">
        <app-producto-tarjeta class="crecer" 
        [producto]="producto" [index]="i" *ngFor="let producto of colecciones; let i = index"></app-producto-tarjeta>
    </div>
</div>