/* You can add global styles to this file, and also import other style files */


/* body {
    padding-bottom: 50px;
} */

.menu-over :hover {
    font-style: color="#C09613";
}

.main-container {
    margin-top: 20px;
}

.img-logo {
    width: 130px;
    height: auto;
}

.sticky {
    width: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    box-shadow: 0px -7px 44px 0px rgba(150, 148, 150, 1);
    opacity: .95;
}

.slider-altura {
    padding-bottom: 20px;
}

.espacio {
    padding-top: 30px;
    padding-bottom: 50px;
}


/*------------------- ESTRUCTURA DEL CONTENIDO -----------------*/

.contenido {
    width: 80%;
    margin: auto;
}

.todo-centro{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*------------------- LO MAS NUEVO -----------------*/

.contenido-home-nuevo {
    width: 100%;
    margin: 70px auto 0 auto;
}


/*------------------- CATEGORIAS -----------------*/

.categorias {
    min-height: 600px;
}

.categorias img {
    max-height: 300px;
    width: auto;
}


/* Animaciones */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}


/* Grow Shadow */
.hvr-grow-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
  }
  .hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    /* -webkit-box-shadow: 0px 12px 33px -6px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 12px 33px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 12px 33px -6px rgba(0,0,0,0.75); */
  }
  